<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FitnessClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FitnessAppEntities" connectionString="metadata=res://*/FitnessAppDb.csdl|res://*/FitnessAppDb.ssdl|res://*/FitnessAppDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NBKHENTSCHEL-PC\sqlexpress;initial catalog=FitnessApp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <userSettings>
    <FitnessClient.Properties.Settings>
      <setting name="YouTubeUrl" serializeAs="String">
        <value>https://www.youtube.com/watch?x-yt-cl=85114404&amp;v=b2gGoQWDyps&amp;x-yt-ts=1422579428</value>
      </setting>
      <setting name="Bildpfad" serializeAs="String">
        <value>C:\Users\NBKHENTSCHEL\SkyDrive\Dokumente\Fitnessplan\Bilder\</value>
      </setting>
    </FitnessClient.Properties.Settings>
  </userSettings>
</configuration>